{% render 'partials/head.liquid'
  , title: 'Bieb in Bloei' %}

{% include 'partials/navbar.liquid' %}

<h1>{{ stekje.naam }}</h1>

<div class="stekje-info">
  <img src="https://fdnd-agency.directus.app/assets/{{ stekje.foto }}" alt="{{ stekje.naam }}">

  <p>
    Beschrijving:
    {{ stekje.beschrijving }}</p>

  <p>
    Land van herkomst:
    {{ stekje.land_van_herkomst }}</p>

  <p>
    Onderhoud:
    {{ stekje.onderhoud }}</p>

  <p>
    Zonlicht:
    {{ stekje.zonlicht }}</p>

  <p>
    Watergeven:
    {{ stekje.watergeven }}</p>

  <p>
    Voeding:
    {{ stekje.voeding }}</p>

  <p>
    Verpotten:
    {{ stekje.verpotten }}</p>

  <p>
    Temperatuur:
    {{ stekje.temperatuur }}</p>

  <p>
    Giftig voor huisdieren:
    {{ stekje.giftig }}</p>

  <p>
    Aanmelddatum:
    {{ stekje.aanmelddatum | date: "%d-%m-%Y" }}</p>

  <p>
    Hoe te stekken:
    {{ stekje.stekken }}</p>
</div>

{% render 'partials/foot.liquid' %}